@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@300&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background-color: #F1F3F5; 
    padding: 0px;
    margin: 0px;
}
header{
    width:100%;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
header h1{
    font-family: 'Bebas Neue';
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:120px;
    background-color: #0367A6;
}
.menu li{
    display: flex;
    padding: 20px;
    transition: 0.5s;
}
.menu li:hover{
    background-color: #1377b6;
    transition: 0.8s;
    border-radius: 2px;
}
.menu li a{
    text-decoration: none;
    color:white;
    font-family: 'Montserrat';
    font-size:1.5em;
}
.boas-vindas{
    display:block;
    margin: auto;
    margin-top:25px;
    width:60%;
    background-color: white;
    padding:20px;
    border-radius: 2px;
}
/* Pagina Sobre */

.sobre{
    display:block;
    margin: auto;
    margin-top: 60px;
    width:60%;
    background-color: #1377b6;
    padding: 65px;
    border-radius: 2px;
    color: #F1F3F5;
    margin-bottom: 16em;
}
.sobre h1{
    text-align: center;
}
.sobre p{
    font-size: 20px;
}


/*------------------------------------------*/

.boas-vindas p{
    font-size: 1.1em;

}
.boas-vindas h1{
    text-align: center;
}
.texto{
    margin-top: 25px;
    text-align:center;
    color:#1377b6;
    margin-bottom: 25px;
}
.main-inicio{
    width:80%;
    display:flex;
    margin: auto;
    height:400px;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: space-around;
    width:100%;
   
   
}
.footer h3{
    font-family: 'Montserrat';
    font-size: 1.3em;
}
.redes{
    display: flex;
    flex-direction: column;

}
.maps{
    display: flex;
    flex-direction: column;
}
.contato{
    display: flex;
    flex-direction: column;
}
.mapa{
    width:100%;
    height:100px;
}
.fa-whatsapp{
    color:#25D366 ;
}
.icones{
    display: flex;
    justify-content: center;
    gap:10px;
    align-items: center;
    padding:8px;
}
/* Style pagina de pacotes */
.textos-pacotes{
        display:block;
        margin: auto;
        margin-top:25px;
        width:60%;
        background-color:#1377b6;
        padding:20px;
        border-radius: 8px;
}
.textos-pacotes h2{
    color: white;
    font-family: 'Montserrat';
    text-align: center;
    font-size: 2em;
}
.lugares-pacotes{
    width:80%;
    display: flex;
    margin: auto;
    margin-top: 50px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.lugares{
    width:25%;
    margin-bottom:15px;
}

.list-group list-group-flush{
    background-color: #0367A6;
}


/*------------------------------------------------*/

/*    Curiosidades */


.curiosidades{
    margin: auto;
    margin-top: 60px;
    width:90%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 2.5% ;
    padding-right: 2.5% ;
    margin-bottom: 150px;
    background-color: #D3D8E0; 
    border-radius: 2px;
    color: black;
    font-size: 20px;
    
}
.container_curiosidades{
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.texto_curiosidades h1,h2{
    color: #1377b6 ;

}




.texto_curiosidades{
    margin-left: 2%;
}



/*------------------------------------------------*/